#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cocktail-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
}

.cocktail-list:last-of-type {
  /* border-top: 3px solid rgb(0, 0, 0, 0.6); */
}

.favorites {
}

.results {
}

.cocktail {
  height: 240px;
  width: 240px;
}

.cocktail img {
  height: 160px;
  width: 160px;
  margin: 0.25em;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.cocktail p {
  margin-block: 0.5em;
  padding: 3px;
}

input {
  max-width: 80ch;
  width: 40%;
  min-width: 20ch;
}
